<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laper Apps</title>
</head>
<body>
    <!-- Mobile Navbar -->
    <div class="menumob">
        <div class="iconmenu" id="menu">&#9776;</div>
        <div class="logomob">Laper Apps</div>
        <div class="logomob">&nbsp;</div>
    </div>
    <nav id="drawer" class="navmob">
        <ul class="navlistmob">
            <li class="navitemsmob"><a href="#">Home</a></li>
            <li class="navitemsmob"><a href="#">Favorite</a></li>
            <li class="navitemsmob"><a href="#">About Us</a></li>
        </ul>
    </nav>
    <!-- Desktop Navbar -->
    <nav class="nav">
        <a class="logo" href="">Laper Apps</a>
        <ul class="navlist">
            <li class="navitems"><a href="#">Home</a></li>
            <li class="navitems"><a href="#">Favorite</a></li>
            <li class="navitems"><a href="#">About Us</a></li>
        </ul>
    </nav>
    <!-- Jumbotron -->
    <div class="hero" style="background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('images/heros/hero-image_2.jpg');">
        <div class="heroinner">
            <h1 class="herotitle">Laper Apps</h1>
            <p class="herosubtitle">Find the best restaurants only on the best websites.</p>
        </div>
    </div>
    <!-- Content -->
    <main>
        <section class="content">
            <div class="latest">
                <h1>Explore Restaurant</h1>
                <div class="list" id="tes"></div>
            </div>
        </section>
    </main>
    <!-- Footer -->
    <footer>
        <p>Copyright © 2020 - Laper Apps</p>
    </footer>
</body>
</html>