<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laper Apps</title>
</head>
<body>
    <!-- Mobile Navbar -->
    <div class="menumob">
        <div class="iconmenu" id="menu">&#9776;</div>
        <div class="logomob">Laper Apps</div>
        <div class="logomob">&nbsp;</div>
    </div>
    <nav id="drawer" class="navmob">
        <ul class="navlistmob">
            <li class="navitemsmob"><a href="#">Home</a></li>
            <li class="navitemsmob"><a href="#">Favorite</a></li>
            <li class="navitemsmob"><a href="#">About Us</a></li>
        </ul>
    </nav>
    <!-- Desktop Navbar -->
    <nav class="nav">
        <a class="logo" href="">Laper Apps</a>
        <ul class="navlist">
            <li class="navitems"><a href="#">Home</a></li>
            <li class="navitems"><a href="#">Favorite</a></li>
            <li class="navitems"><a href="#">About Us</a></li>
        </ul>
    </nav>
    <div class="hero" style="background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('images/heros/hero-image_2.jpg');">
        <div class="heroinner">
            <h1 class="herotitle">Laper Apps</h1>
            <p class="herosubtitle">Find the best restaurants only on the best websites.</p>
        </div>
    </div>
    <main>
        <section class="content">
            <div class="latest">
                <h1 class="latest__label">Explore Restaurant</h1>
                <div class="posts">
                    <article class="post-item">
                        <img class="post-item__thumbnail"
                             src="images/heros/hero-image_2.jpg"
                             alt="Gambar dua orang wanita sedang memegang laptop">
                        <div class="post-item__content">
                            <p class="post-item__date">About 10 Hours Ago By <a href="#" class="post-item__date__author">Dicoding
                                Intern</a>
                            </p>
                            <h1 class="post-item__title"><a href="#">Kenapa Harus Belajar Coding Dari Sekarang?</a></h1>
                            <p class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
                    <article class="post-item">
                        <img class="post-item__thumbnail"
                             src="images/post-2.jpg"
                             alt="Github logo">
                        <div class="post-item__content">
                            <p class="post-item__date">About 10 Hours Ago By <a href="#" class="post-item__date__author">Alfian
                                Y Abdullah</a>
                            </p>
                            <h1 class="post-item__title"><a href="#">Apa itu Rate Limit pada Github API?</a></h1>
                            <p class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
                    <article class="post-item">
                        <img class="post-item__thumbnail"
                             src="images/post-3.jpg"
                             alt="Seorang lelaki sendang memakai filter instagram">
                        <div class="post-item__content">
                            <p class="post-item__date">About 10 Hours Ago By <a href="#" class="post-item__date__author">Aditya
                                Tri Nugroho</a>
                            </p>
                            <h1 class="post-item__title"><a href="#">2 Langkah Utama Membuat Filter Kece di Instagram</a>
                            </h1>
                            <p class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
    
                    <article class="post-item">
                        <img class="post-item__thumbnail"
                             src="images/post-4.jpg"
                             alt="Seorang lelaki dengan ekspresi bingung">
                        <div class="post-item__content">
                            <p class="post-item__date">About 10 Hours Ago By <a href="#" class="post-item__date__author">Dimas
                                Catur Wibowo</a>
                            </p>
                            <h1 class="post-item__title"><a href="#">Kenapa Anak Sosial Hijrah Belajar Kotlin Android?</a>
                            </h1>
                            <p class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
    
                    <article class="post-item">
                        <img class="post-item__thumbnail"
                             src="images/post-5.png"
                             alt="Seorang lelaki memakai baju abu-abu">
                        <div class="post-item__content">
                            <p class="post-item__date">About 10 Hours Ago By <a href="#" class="post-item__date__author">Mutiara Arumsari</a>
                            </p>
                            <h1 class="post-item__title"><a href="#">Programmer Atau Pro Gamer, Kamu Team Mana?</a></h1>
                            <p class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
    
                    <article class="post-item">
                        <img class="post-item__thumbnail"
                             src="images/post-6.png"
                             alt="Seorang wanita di depan komputer sedang pusing">
                        <div class="post-item__content">
                            <p class="post-item__date">About 10 Hours Ago By <a href="#" class="post-item__date__author">Mutiara Arumsari</a>
                            </p>
                            <h1 class="post-item__title"><a href="#">Algoritma Dulu Ngoding Kemudian</a></h1>
                            <p class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
    
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>Copyright © 2020 - Laper Apps</p>
    </footer>
</body>
</html>