@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-size: 12px;
    color: #424242;
}


/* Header */
.header {
    min-height: 56px;
    transition: min-height 0.3s;
}

.header__inner {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.header__title {
    font-weight: 300;
    font-size: 4em;
    margin: 0.5em 0.25em;
    display: inline-block;
    color: #212121;
}

.header__menu {
    font-size: 32px;
    margin: 10px auto;
    display: block;
    width: 30px;
}

/* Navigation */
.menumob{
    background-color: #135ea8;
    color: white !important;
    width: 100%;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    padding:10px;
    justify-content:space-between;
}

.navmob {
    background-color: #135ea8;
    width: 100%;
    display: flex;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

.navlistmob {
    width: 60%;
    padding: 0;
    margin: 0;
    text-align: left;
}

.navitemsmob {
    box-sizing: border-box;
    display: inline-block;
    text-align: right;
    line-height: 24px;
    text-transform: uppercase;
    color: white !important;
}

.navmob a {
    display: inline-block;
    padding: 1.3em;
    text-decoration: none;
}

.nav {
    background-color: #135ea8;
    width: 100%;
    display: flex;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

.navlist {
    width: 80%;
    padding: 0;
    margin: 0;
    text-align: right;
}

.logo {
    width: 20%;
    padding: 0;
    margin: 0;
    text-align: left;
    box-sizing: border-box;
    display: inline-block;
    line-height: 24px;
}

.navitems {
    box-sizing: border-box;
    display: inline-block;
    text-align: right;
    line-height: 24px;
    text-transform: uppercase;
}

.nav a {
    display: inline-block;
    padding: 1.3em;
    text-decoration: none;
    color: white !important;
}

.nav a:hover {
    text-decoration: none;
}

/* Jumbroton Image */
.hero {
    display: flex;
    align-items: center;
    min-height: 380px;
    width: 100%;
    text-align: center;
    background-position: center;
    background-color: Black !important;
}

.heroinner {
    margin: 0 auto;
    max-width: 800px;
}

.herotitle {
    color: #fff;
    font-weight: 500;
    font-size: 36px;
}

.herosubtitle {
    color: #fff;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 300;
}


/* Main */
main {
    width: 100%;
    margin: 0 auto;
}

/*
 * content
 */

.content {
    padding: 32px;
}

/*
* latest
*/

.latest {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.latest h1 {
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 50px;
}


/*
 * post
 */

.list {
    margin: 32px auto auto;
    text-align: left;
}

/*
 * post item
 */

.list_item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.list_item_content {
    padding: 16px;
}

.list_item_thumb {
    width: 100%;
    max-height: 200px;
}

.list_item_rating {
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
    font-weight: 500;
}

.list_item_rating_value {
    color: red;
    text-decoration: none;
}

.list_item_title {
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;
    transition: 0.3s opacity;
}

.list_item_title:hover {
    opacity: 0.5;
}

.list_item_title a {
    text-decoration: none;
    color: inherit;
}

.list_item_desc {
    margin-top: -30px;
    font-size: 12px;
    line-height: 1.5em;
}

/*
 * footer
 */

footer {
    background-color: #135ea8;
    color:white;
    font-size: 14px;
    padding: 2em;
    width: 100%;
    text-align: center;
}

footer ul {
    margin: 0 auto;
    display: inline-block;
}

footer li {
    display: inline-block;
    margin: 0 1em;
    font-size: 14px;
}

footer a {
    display: inline-block;
    padding: 1.3em;
    text-decoration: none;
    color: #fff
}